body, html {
  background-color: #111111;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 10px, 1fr);
  background-size: cover;
  height: 10%;
  width: 10%;
}

canvas {
  border: 0px solid black;
  margin: 0;
  padding: 0;
  height: 111%;
  width: 101%;
  overflow: hidden;
}

