
@font-face {
    font-family: 'Work Sans';
    src: url('WorkSans-Thin.ttf')  format('truetype');
}

html, body {
    margin: 0;
    background: black;
    width: 100%;
    height: 100%;
    display: flex;
    /* overflow: hidden; */
}

#video {
    width: 100%;
}

/*

text-shadow: 2px 2px 10px rgba(0,0,0,1);
border: 1px solid black;

*/

#clock {
    width: 500px;
    height: 250px;
    position: absolute;

    margin: 30px;
    color: #ffffff;
    background: rgba(0,0,0,0.4);
    /* background: radial-gradient(circle, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.25) 25%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%); */
    backdrop-filter: blur( 30px );
   
    font-family: 'Work Sans', Arial;
    font-size: 80px;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px 10px rgba(0,0,0,1.0);
    
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

